@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    background: #000;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.loader {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader span {
    color: rgba(255, 255, 255, .1);
    font-size: 54px;
    display: inline-block;
    transition: all .5s;
    animation: animate 2s infinite;
}

.loader span:nth-child(1) {
    animation-delay: .1s;
}

.loader span:nth-child(2) {
    animation-delay: .2s;
}

.loader span:nth-child(3) {
    animation-delay: .3s;
}

.loader span:nth-child(4) {
    animation-delay: .4s;
}

.loader span:nth-child(5) {
    animation-delay: .5s;
}

.loader span:nth-child(6) {
    animation-delay: .6s;
}

.loader span:nth-child(7) {
    animation-delay: .7s;
}

@keyframes animate {
    0% {
        color: rgba(255, 255, 255, .1);
        transform: translateY(0);
        margin-left: 0;
    }
    25% {
        color: #49f5d8;
        transform: translateY(-15px);
        margin-left: 0 15px 5px #000;
    }
    100% {
        color: rgba(255, 255, 255, .1);
        transform: translateY(0);
    }
}